@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-family-roboto: 'Roboto', sans-serif;
$color-primary: #1F64FF;

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-family-roboto;
}